* {
  margin: 0;
  padding: 0;
  font-family: General Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#hero {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: black;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  color: #fff;
}

#nav a {
  text-decoration: none;
  color: #fff;
}

#heading {
  margin-top: 90px;
}

#heading h1 {
  margin-left: 30px;
  opacity: 0.6;
  line-height: 1;
  text-transform: uppercase;
  font-size: 10vw;
  font-weight: 500;
}

#heading #secondh1 {
  margin-left: 230px;
}

.blocktext {
  width: fit-content;
}

.blocktext h5 {
  text-transform: uppercase;
  text-align: right;
  font-size: 15px;
}

#chhotiheadings {
  margin-top: 100px;
  padding-right: 50px;
}

#chhotiheadings h5 {
  text-align: right;
  text-transform: uppercase;
  margin-top: 0.5vw;
  font-size: 1vw;
}

#herofooter {
  padding: 0 2vw;
  width: 100%;
  position: absolute;
  bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#herofooter a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

#herofooter #iconset {
  display: flex;
  gap: 5px;
}

#herofooter .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #888;
  color: black;
}

#second {
  padding-top: 90px;
  padding-right: 10vw;
  width: 100%;
  height: 100%;
  background-color: black;
}

.elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 3.5vw 3vw;
  padding-right: 0;
  width: 100%;
  border-top: 1px solid #888;
}

.elem h1 {
  text-transform: uppercase;
  font-size: 7.6vw;
  opacity: 0.7;
}

.elemlast {
  border-bottom: 1px solid #888;
}

.elem img{
  height: 140%;
  display: none;
  /* opacity: 0; */
  z-index: 999;
  position: absolute;
}

#about{
  padding: 10vw 5vw;
  width: 100%;
  background-color: black;
}

#about img{
  width: 15vw;
}
